In [68]:
import pandas as pd
import numpy as np

In [5]:
url = "https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data"

In [6]:
# This data set does not have headrs so we need to spcified the header az None
df = pd.read_csv(url, header = None)

In [7]:
# show the top 5 rows
df.head()

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

In [9]:
# Shows the bottom 5 rows
df.tail()

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
200,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
201,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
202,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
203,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470
204,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

In [26]:
# if a data set does not have headers we can add headers by using df.columns = headers
# and we can spcifiy the name of the headrs
headers = ["symboling", "normalized-lossses","make", "fuel-type", "aspiration","num-of-doors", "body-style","drive-wheels","engine-location","wheel-base","length"
          , "width", "height ","curb-weight ","engine-type","num-of-cylinders","engine-size","fuel-system","bore","stroke","compression-ratio","horsepower","peak-rpm","city-mpg","highway-mpg","price"]

In [27]:
df.columns = headers
df

,symboling,normalized-lossses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
201,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
202,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
203,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470
204,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

In [28]:
# Exporting a Pandas datafarme to CSV file
# path ="C:\Users\maziy\IBM Data Science\Data Analysis with Python\automobile.csv"
# df.to_csv(path)

In [29]:
# to check the types of the data in side the data farme
df.dtypes

symboling               int64
normalized-lossses     object
make                   object
fuel-type              object
aspiration             object
num-of-doors           object
body-style             object
drive-wheels           object
engine-location        object
wheel-base            float64
length                float64
width                 float64
height                float64
curb-weight             int64
engine-type            object
num-of-cylinders       object
engine-size             int64
fuel-system            object
bore                   object
stroke                 object
compression-ratio     float64
horsepower             object
peak-rpm               object
city-mpg                int64
highway-mpg             int64
price                  object
dtype: object

In [41]:
# we can drop missing values along the column "price" as follows  
df.dropna(subset=["price"], axis=0)

,symboling,normalized-lossses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
201,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
202,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
203,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470
204,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

In [42]:
# Write your code below and press Shift+Enter to execute 
print(df.columns)

Index(['symboling', 'normalized-lossses', 'make', 'fuel-type', 'aspiration',
       'num-of-doors', 'body-style', 'drive-wheels', 'engine-location',
       'wheel-base', 'length', 'width', 'height ', 'curb-weight ',
       'engine-type', 'num-of-cylinders', 'engine-size', 'fuel-system', 'bore',
       'stroke', 'compression-ratio', 'horsepower', 'peak-rpm', 'city-mpg',
       'highway-mpg', 'price'],
      dtype='object')

In [44]:
df[['symboling', 'normalized-lossses', 'make']]

     symboling normalized-lossses         make
0            3                  ?  alfa-romero
1            3                  ?  alfa-romero
2            1                  ?  alfa-romero
3            2                164         audi
4            2                164         audi
..         ...                ...          ...
200         -1                 95        volvo
201         -1                 95        volvo
202         -1                 95        volvo
203         -1                 95        volvo
204         -1                 95        volvo

[205 rows x 3 columns]

In [45]:
df[['length', 'compression-ratio']].describe()

           length  compression-ratio
count  205.000000         205.000000
mean   174.049268          10.142537
std     12.337289           3.972040
min    141.100000           7.000000
25%    166.300000           8.600000
50%    173.200000           9.000000
75%    183.100000           9.400000
max    208.100000          23.000000

In [43]:
df.to_csv("automobile.csv", index=False)

In [31]:
# describes the data set
# retruns a statistical summary
df.describe()

,symboling,wheel-base,length,width,height,curb-weight,engine-size,compression-ratio,city-mpg,highway-mpg
count,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000
mean,0.834146,98.756585,174.049268,65.907805,53.724878,2555.565854,126.907317,10.142537,25.219512,30.751220
std,1.245307,6.021776,12.337289,2.145204,2.443522,520.680204,41.642693,3.972040,6.542142,6.886443
min,-2.000000,86.600000,141.100000,60.300000,47.800000,1488.000000,61.000000,7.000000,13.000000,16.000000
25%,0.000000,94.500000,166.300000,64.100000,52.000000,2145.000000,97.000000,8.600000,19.000000,25.000000
50%,1.000000,97.000000,173.200000,65.500000,54.100000,2414.000000,120.000000,9.000000,24.000000,30.000000
75%,2.000000,102.400000,183.100000,66.900000,55.500000,2935.000000,141.000000,9.400000,30.000000,34.000000
max,3.000000,120.900000,208.100000,72.300000,59.800000,4066.000000,326.000000,23.000000,49.000000,54.000000

In [32]:

df.describe(include="all")


# unique: Ther number of distinct object in the column
# top : most frequently occuring object
# freq : the number of times the top object appears in the column
# NAN : Not A Number

,symboling,normalized-lossses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
count,205.000000,205,205,205,205,205,205,205,205,205.000000,...,205.000000,205,205,205,205.000000,205,205,205.000000,205.000000,205
unique,NaN,52,22,2,2,3,5,3,2,NaN,...,NaN,8,39,37,NaN,60,24,NaN,NaN,187
top,NaN,?,toyota,gas,std,four,sedan,fwd,front,NaN,...,NaN,mpfi,3.62,3.40,NaN,68,5500,NaN,NaN,?
freq,NaN,41,32,185,168,114,96,120,202,NaN,...,NaN,94,23,20,NaN,19,37,NaN,NaN,4
mean,0.834146,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,98.756585,...,126.907317,NaN,NaN,NaN,10.142537,NaN,NaN,25.219512,30.751220,NaN
std,1.245307,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.021776,...,41.642693,NaN,NaN,NaN,3.972040,NaN,NaN,6.542142,6.886443,NaN
min,-2.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,86.600000,...,61.000000,NaN,NaN,NaN,7.000000,NaN,NaN,13.000000,16.000000,NaN
25%,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,94.500000,...,97.000000,NaN,NaN,NaN,8.600000,NaN,NaN,19.000000,25.000000,NaN
50%,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,97.000000,...,120.000000,NaN,NaN,NaN,9.000000,NaN,NaN,24.000000,30.000000,NaN
75%,2.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,102.400000,...,141.000000,NaN,NaN,NaN,9.400000,NaN,NaN,30.000000,34.000000,NaN
max,3.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,120.900000,...,326.000000,NaN,NaN,NaN,23.000000,NaN,NaN,49.000000,54.000000,NaN

In [33]:
# Another functiuon to check a data set 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   symboling           205 non-null    int64
 1   normalized-lossses  205 non-null    object
 2   make                205 non-null    object
 3   fuel-type           205 non-null    object
 4   aspiration          205 non-null    object
 5   num-of-doors        205 non-null    object
 6   body-style          205 non-null    object
 7   drive-wheels        205 non-null    object
 8   engine-location     205 non-null    object
 9   wheel-base          205 non-null    float64
 10  length              205 non-null    float64
 11  width               205 non-null    float64
 12  height              205 non-null    float64
 13  curb-weight         205 non-null    int64
 14  engine-type         205 non-null    object
 15  num-of-cylinders    205 non-null    object
 16  engine-size         205 non-null    int64
 17  fuel-system         205 non-null    object
 18  bore                205 non-null    object
 19  stroke              205 non-null    object
 20  compression-ratio   205 non-null    float64
 21  horsepower          205 non-null    object
 22  peak-rpm            205 non-null    object
 23  city-mpg            205 non-null    int64
 24  highway-mpg         205 non-null    int64
 25  price               205 non-null    object
dtypes: float64(5), int64(5), object(16)
memory usage: 41.8+ KB

# Accessing Databases with Python USING DB-API

In [ ]:
from dbmodule import connect

In [ ]:
# Create connection object
connection = connect("databasename","username","pswd")

In [ ]:
# Create a curseor object
cursor = cursor.fetchall()

In [ ]:
#Run queries
cursor.execute("select * from mytable")
results = cursor.fetchall()

In [ ]:
# Free resources
Cursor.close()
connection.close()

# DATA Pre-processing Data in Python
#### often calls Data Cleanning or Data Wrangling

## Missing Values
occur when no data value is stored for a variable in an observation(rows)

the missing values could be '?', 'N/A', 0 or just a blank cell

### How to deal with missing data?
1. Drop the Missing values : 
    **a.drop the variable**
    **b.drop the data entry**
    
2. Repalce the missing data : 
    **a.replace it with an avrage (of similar datapoints), b.Repalce it by frequency, c. Replace it based on other functions** 
    
3. Leave it as missing data 


how would you deal with missing values for categorical data : replace the missing value with the mode of the particular column

replace the missing value with the value that appears most often of the particular column

#### Drop the Missing values : a.drop the variable b.drop the data entry

In [47]:
# Use datafarmes.dropna()
df.dropna()

,symboling,normalized-lossses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
201,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
202,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
203,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470
204,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

In [ ]:
df.dropna(subset=["price"], axis=0, inpalce = True)
# or
# drop the row with the missing value in the column price
df = df.dropna(subset=["price"],axis = 0, inplace = False)

#### Repalce the missing data
use datafarmes.repalce(missing_vlaue, new_value)

In [ ]:
# to replace a missing values, first we need to calculate the mean of the column
mean = df["highway-mpg"].mean()

# than we use the replace method
df["highway-mpg"].repalce(np.nan,mean)


# Data Formatting in Python

##### Data formating means bringing data into  a common standard of expression allows users to make meaningful comparison.
##### example changing city-mpg :

In [52]:
df["city-mpg"] = 235/df["city-mpg"]

In [86]:
# changing column name 
df.rename(columns ={"city-mpg":"city=L/100km"}, inplace = True)
df

,symboling,normalized-lossses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city=L/100km,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,11.190476,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,11.190476,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,12.368421,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,9.791667,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,13.055556,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,10.217391,28,16845
201,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,12.368421,25,19045
202,-1,95,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,13.055556,23,21485
203,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,9.038462,27,22470
204,-1,95,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,12.368421,25,22625

# Another case is Incorrect data types
#### There many data types in Pandas like: Objects : "A", "HELLo"
#### Int64 : 1,3,5
#### Float64 : 1.25,1.23

In [58]:
df["price"].tail(5)
# as you can see the data type for the price is object which is incorrect datatype for a number in must be int or float
# if we don;t check these types of formating later on we see wierd acting on data visulasition

200    16845
201    19045
202    21485
203    22470
204    22625
Name: price, dtype: object

### Correcting data types
#### To identify data types: Use dataframe.dtypes() 
#### To Convert data type : Use dataframe.astype()

In [ ]:
df["price"] = df["price"].astype("int")

# Data Normalization in Python

### Several approches for normalization : 
### 1. Simple Feature scalling : Xnew = Xold / Xmax this make new vlaue range between  0 to 1
### 2. Min-Max : Xnew = Xold-Xmin / Xmax-Xmin this make new value range between 0 to 1 
### 3. Z-score : Xnew = xold - meu(Avrage of the feature ) /  standard diviation (sigma) : -3 to 3

In [ ]:
# simple scaling
df["length"] = df["length"]/df["length"].max()

In [ ]:
# Min-Max method
df["length"] = (df["length"]-df["length"].min())  /  (df["length"].max()-df["length"].min() )

In [ ]:
# Z-score method 
df["length"] = (df["length"]-df["length"].mean()) / df["length"].std()

# Binning in Python
#### A method for pre processing
#### Binning: Grouping of values into "bins"
#### Converty numeric into categorical variables
#### Group a set of numerical values into a set of "bins"

In [ ]:
bins = np.linspace(min(df["price"]),max(df["price"]),4)

In [ ]:
group_names = ["Low","Medium","High"]

In [ ]:
df["price-binned"] = pd.cut(df["price"], bins, labels = group_names, include_lowest =True)

In [69]:
# after that you can visulas the data by histogram garph and you can see the diffrence

# Turning categorical variables into quantitative variables in Python
#### Most statistical models cannot take in the objects/strings as input only take the numbers as the inputs so we need to convert the string to the numbers
#### solution:  add dummy variables for each unique category
### Assign 0 or 1 in each category it know as "One hot coding"

# Dummy variables in Python pandas: 
#### Use pandas.get_dummies() method
#### Convert categorical variables to dummy variables (0 or 1)|

In [ ]:
pd.get_dummies(df["fuel"])

# Exploratory Data Analysis
#### Exploratory data analysis or in short, EDA is an approach to analyze data in order to 
1. summarize main characteristics of the data, 
2. gain better understanding of the data set, 
3. uncover relationships between different variables, 
4. and extract important variables for the problem we're trying to solve.


#### The main question we are trying to answer in this module is, what are the characteristics that had the most impact on the car price?

# Descriptive Statistics
#### Descriptive statistical analysis helps to describe basic features of a dataset and obtains a short summary about the sample and measures of the data.

#### Using the describe function and applying it on your DataFrame, a describe function automatically computes basic statistics for all numerical variables. It shows the mean, the total number of data points, the standard deviation, the quartiles, and the extreme values. Any NaN values are automatically skipped in these statistics.

#### This function will give you a clearer idea of the distribution of your different variables. You could have also categorical variables in your dataset. These are variables that can be divided up into different categories or groups and have discrete values.

In [ ]:
# describe function
df.describe()

#### summarize the categorical data is by using the value_counts() method

In [78]:
drive_wheels_counts = df["drive-wheels"].value_counts()
drive_wheels_counts

fwd    120
rwd     76
4wd      9
Name: drive-wheels, dtype: int64

In [ ]:
drive_wheels_counts.rename(columns={"drive-wheels": "value_counts"} , inplace =True)
drive_wheels_counts.index.name="drive-wheels"

In [76]:
body_style_counts = df["body-style"].value_counts()
body_style_counts

sedan          96
hatchback      70
wagon          25
hardtop         8
convertible     6
Name: body-style, dtype: int64

 # BOX Plots

##### Box plots are great way to visualize numeric data, since you can visualize the various distributions of the data. 
##### The main features that the box plot shows are the median of the data, which represents where the middle data point is.
##### The upper quartile shows where the 75th percentile is. 
##### The lower quartile shows where the 25th percentile is. 
##### The data between the upper and lower quartile represents the interquartile range. 
##### Next, you have the lower and upper extremes. These are calculated as 1.5 times the interquartile range above the 75th percentile and as 1.5 times the IQR below the 25th percentile. 
##### Finally, box plots also display outliers as individual dots that occur outside the upper and lower extremes. With box plots, you can easily spot outliers and also see the distribution and skewness of the data. 
##### Box plots make it easy to compare between groups.

In [94]:
import seaborn as sns

In [ ]:
sns.boxplot(x="horsepower",y="price",data=df)

# Scatter plot
Oftentimes, we tend to see continuous variables in our data. These data points are numbers contained in some range. For example, in our dataset, price and engine size are continuous variables. What if we want to understand the relationship between engine size and price? Could engine size possibly predict the price of a car? One good way to visualize this is using a scatter plot. Each observation in the scatter plot is represented as a point. This plot shows the relationship between two variables. The predictor variable is the variable that you are using to predict an outcome. In this case, our predictor variable is the engine size. The target variable is the variable that you are trying to predict. In this case, our target variable is the price, since this would be the outcome. In a scatter plot, we typically set the predictor variable on the x-axis or horizontal axis, and we set the target variable on the y-axis or vertical axis. In this case, we will thus plot the engine size on the x-axis and the price on the y-axis. We are using the matplotlib function scatter here, taking an x and a y variable. Something to note is that it's always important to label your axis and write a general plot title, so that you know what you're looking at. Now, how is the variable engine size related to price? From the scatter plot, we see that as the engine size goes up, the price of the car also goes up. This is giving us an initial indication that there is a positive linear relationship between these two variables.

In [ ]:
import matplotlib as plt
y=df["price"]
x=["engine-size"]
plt.scatter(x,y)

plt.title("Scatter plot of Engie Size vs Price")
plt.xlabel("Engine Size")
plt.ylabel("price")

# GroupBy in Python
Assume you want to know, is there any relationship between the different types of drive system, forward, rear, and four-wheel drive, and the price of the vehicles? If so, which type of drive system adds the most value to a vehicle? It would be nice if we could group all the data by the different types of drive wheels and compare the results of these different drive wheels against each other. In Pandas, this can be done using the group by method. The group by method is used on categorical variables, groups the data into subsets according to the different categories of that variable. You can group by a single variable or you can group by multiple variables by passing in multiple variable names.


#####  As an example, let's say we are interested in finding the average price of vehicles and observe how they differ between different types of body styles and drive wheels variables. To do this, we first pick out the three data columns we are interested in, which is done in the first line of code. We then group the reduced data according to drive wheels and body style in the second line. Since we are interested in knowing how the average price differs across the board, we can take the mean of each group and append it this bit at the very end of the line too. The data is now grouped into subcategories and only the average price of each subcategory is shown. We can see that according to our data, rear wheel drive convertibles and rear wheel drive hard hardtops have the highest value while four wheel drive hatchbacks have the lowest value. A table of this form isn't the easiest to read and also not very easy to visualize

In [ ]:
df_test = df[['drive-wheels', 'body-style', 'price']]
df_grp = df_test.groupby(['drive-wheels', 'body-style'], as_index = False).mean()
df_grp

# Correlation
Correlation is a statistical metric for measuring to what extent different variables are interdependent. In other words, when we look at two variables over time, if one variable changes how does this affect change in the other variable? For example, smoking is known to be correlated to lung cancer since you have a higher chance of getting lung cancer if you smoke. In another example, there is a correlation between umbrella and rain variables where more precipitation means more people use umbrellas. Also, if it doesn't rain people would not carry umbrellas. Therefore, we can say that umbrellas and rain are interdependent and by definition they are correlated. It is important to know that correlation doesn't imply causation. In fact, we can say that umbrella and rain are correlated but we would not have enough information to say whether the umbrella caused the rain or the rain caused the umbrella.

# Correlation - Statistics
One way to measure the strength of the correlation between continuous numerical variable is by using a method called Pearson correlation. 
#### Pearson correlation method will give you two values: the correlation coefficient and the P-value. So how do we interpret these values? 
#### For the correlation coefficient, a value close to 1 implies a large positive correlation, while a value close to negative 1 implies a large negative correlation, and a value close to zero implies no correlation between the variables. 
#### Next, the P-value will tell us how certain we are about the correlation that we calculated. For the P-value, a value less than 0.001 gives us a strong certainty about the correlation coefficient that we calculated. 
#### A value between 0.001 and 0.05 gives us moderate certainty. A value between 0.05 and.1 will give us a weak certainty. And a P-value larger than.1 will give us no certainty of correlation at all. 
#### We can say that there is a strong correlation when the correlation coefficient is close to 1 or negative 1, and the P-value is less than.001.
#### See how easy you can calculate the Pearson correlation using the SI/PI stats package? We can see that the correlation coefficient is approximately.8, and this is close to 1. So there is a strong positive correlation. We can also see that the P-value is very small, much smaller than.001. And so we can conclude that we are certain about the strong positive correlation.

In [ ]:
# Calculate Pearsonm Correlation
pearson_coef, p_value = stats.pearsonr(df['horepower'],df['price'])

# Analysis of Variance ANOVA
To analyze categorical variables such as the make variable, we can use a method such as the ANOVA method. ANOVA is statistical test that stands for Analysis of Variance. ANOVA can be used to find the correlation between different groups of a categorical variable. According to the car dataset, we can use ANOVA to see if there is any difference in mean price for the different car makes such a Subaru and Honda. The ANOVA test returns two values, the F-test score and the p-value. The F-test calculates the ratio of variation between groups mean, over the variation within each of the sample groups. The p-value shows whether the obtained result is statistically significant. Without going too deep into the details, the F-test calculates the ratio of variation between groups means over the variation within each of the sample group means. This diagram illustrates a case where the F test score would be small.